# Dependencias de Node
node_modules/
package-lock.json

# Archivos de entorno
.env

# Archivos de Shopify CLI
.shopify/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo
*.swp
*.swo

# Archivos de VSCode (opcional)
.vscode/

# Archivos de distribución (si los hay)
dist/
build/
